/*Iniciando Estilos */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
    width: 100%;
    height: 100vh;
    height: 4000px;
    font-family: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
/*Variables  y estilos globales*/
:root{
    --mainColor:rgb(99, 170, 99);
    --titulo: 1.9rem;
}
.btn-donar{
    background-color: var(--mainColor);
    color: white;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: all 0.2s;
}
.btn1{
    border: 1px solid transparent;
    padding: 0.6rem;
    background-color: var(--mainColor);
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}   
.btn1:hover{
    background-color: white;
    border: var(--mainColor) 1px solid;
    color: var(--mainColor);
}
.btn1:active{
    transform: scale(1.02);
}
.franja-top{
    width: 100%;
    height: 45px;
    background-color: var(--mainColor);
}
.clogo{
    width: 100%;
    padding: 1rem 2rem;
}
.clogo>div>img{
    max-width: 170px;
}
header{
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: white;
    box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
}
/*
=============================================
NavBar
============================================= 
*/

.navbar div:nth-child(1){
    position: sticky;
    top: 0;
}
.navbar div:nth-child(1)>ul{
    position: sticky;
    top: 0;
    display: flex;
    gap: 24px;
    padding: 1rem 6rem;
    font-size: 1.1rem;
}
.navbar div:nth-child(1)>ul>li{
    transition: transform 0.3s; 
    transform: translateY(4px); 
    white-space:nowrap;
}
.navbar div:nth-child(1)>ul>.logo{
    margin-right: auto;
} 
.navbar div:nth-child(1)>ul>.logo>img{
    display: none;
    width: 70px;
}
.navbar div:nth-child(1)>ul>li:hover{
    color: var(--mainColor);
    transform: translateY(-1px);
   
}
.navbar div:nth-child(1)>ul>li>img{
    width: 25px;
    transform: translateY(-4px);
    cursor: pointer;
}

/*Nav movil */
.nav-movil{
    position: fixed;
    top: 0;
    right: -280px;
    background-color: var(--mainColor);
    height: 100vh;
    width: 280px;
    z-index: 9999;
    transition: transform 0.3s ease-out;
}
.btn-close-nav-movil{
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
}
header .nav-movil.active{
    transform: translateX(-280px);
}
/*
=====================================
Quienes Somos | INICIO |
=====================================
*/
.inicio-section-qsomos{
    margin-top: 2rem;
}
.inicio-section-qsomos h2{
    text-align: center;
    margin: 0.5rem;
    font-size: var(--titulo);
}
.inicio-caja-qsomos{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.inicio-caja-qsomos>div:nth-child(1){
    overflow: hidden;
    border-radius: 1rem;
    flex:0 1 450px;
    height: 300px;
}
.inicio-caja-qsomos>div:nth-child(2){
    flex:1 1 400px;
    letter-spacing: 0.15rem;
}
.inicio-caja-qsomos>div:nth-child(2)>button{
    margin-top: 0.8rem;
}
/*
======================
Noticias |INICIO|
======================
*/
/*
=======================
RESPONSIVE
======================== 
*/
@media (min-width: 1400px){
.container{
    max-width: 1100px !important;
}
}

@media(max-width:1100px){
    /*navbar */
    .navbar div:nth-child(1)>ul{
     padding: 1rem 1rem;
    }
    

}
@media(max-width:990px){
    /*Decoracion superior */
    .franja-top{
        height: 35px;
    }
    .clogo{
        display: none;
    }
    /*navbar */
    .navbar div:nth-child(1)>ul>.mhidden{
        display: none;
    }
    .navbar div:nth-child(1)>ul{
        justify-content: end;
        padding: 0.1rem 3rem;
        padding-bottom: 0.7rem;
    }
    .navbar div:nth-child(1)>ul>li>img{
        transform: translateY(3px);
    }
    .navbar div:nth-child(1)>ul>.logo>img{
        display: block;
    }
    .navbar div:nth-child(1)>li{
        justify-content: end;
        padding: 0.1rem 3rem;
        padding-bottom: 0.7rem;
    }
}